/*
body .ui-table .ui-table-tbody tr td {
    color: red;
}

body .ui-table .ui-table-tbody tr {
    min-height: 50px;
}

body .ui-table .ui-table-thead > tr > th {
    background-color: #0066ff;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 20px;
}
*/

body .ui-button.ui-button-text-icon-left .ui-button-text {
    padding-left: 35px;
}