<div class='row-100p mb50'>
    <h3 class="first">Botões</h3>

    <div class='row-100p mb20'>
        <p-button label="Click"></p-button>
        <p-button icon="pi pi-check" label="Click"></p-button>
        <p-button icon="pi pi-check" iconPos="right" label="Click"></p-button>
        <p-button icon="pi pi-check"></p-button>
        <p-button icon="pi pi-check" [disabled]="true" label="Disabled"></p-button>
    </div>

    <div class='row-100p mb20'>
        <button pButton type="button"label="Click"></button>
        <button pButton type="button" icon="pi pi-check" label="Click"></button>
        <button pButton type="button" icon="pi pi-check" iconPos="right" label="Click"></button>
        <button pButton type="button" icon="pi pi-check"></button>
        <button pButton type="button" icon="pi pi-check" [disabled]="true" label="Disabled"></button>
    </div>

    <div class='row-100p mb20'>
        <button pButton type="button" label="Primary"></button>
        <button pButton type="button" label="Secondary" class="ui-button-secondary"></button>
        <button pButton type="button" label="Success" class="ui-button-success"></button>
        <button pButton type="button" label="Info" class="ui-button-info"></button>
        <button pButton type="button" label="Warning" class="ui-button-warning"></button>
        <button pButton type="button" label="Danger" class="ui-button-danger"></button>
    </div>

    <div class='row-100p mb20'>
        <button pButton type="button" label="Primary" class="ui-button-raised"></button>
        <button pButton type="button" label="Secondary" class="ui-button-raised ui-button-secondary"></button>
        <button pButton type="button" label="Success" class="ui-button-raised ui-button-success"></button>
        <button pButton type="button" label="Info" class="ui-button-raised ui-button-info"></button>
        <button pButton type="button" label="Warning" class="ui-button-raised ui-button-warning"></button>
        <button pButton type="button" label="Danger" class="ui-button-raised ui-button-danger"></button>
    </div>

    <div class='row-100p mb20'>
        <button pButton type="button" label="Primary" class="ui-button-rounded"></button>
        <button pButton type="button" label="Secondary" class="ui-button-rounded ui-button-secondary"></button>
        <button pButton type="button" label="Success" class="ui-button-rounded ui-button-success"></button>
        <button pButton type="button" label="Info" class="ui-button-rounded ui-button-info"></button>
        <button pButton type="button" label="Warning" class="ui-button-rounded ui-button-warning"></button>
        <button pButton type="button" label="Danger" class="ui-button-rounded ui-button-danger"></button>
        <div class="button-demo"></div>
    </div>
</div>

<div class='row-100p mb50'>
    <h3 class="first">Botões customizados</h3>
    <pre>Não utilizar o atributo "label"</pre>

    <div class='row-100p mb20'>
        <button type="button" class="button default-button">
            <i class="pi pi-check"></i>
            <span>ENVIAR</span>
        </button>

        <button type="button" class="button default-button btn-rounded">
            <i class="pi pi-check"></i>
            <span>ENVIAR</span>
        </button>
    </div>   

    <div class='row-100p mb20'>
        <button type="button" class="button warning-button">
            <i class="pi pi-check"></i>
            <span>ENVIAR</span>
        </button>

        <button type="button" class="button warning-button btn-rounded">
            <i class="pi pi-check"></i>
            <span>ENVIAR</span>
        </button>
    </div>    

    <div class='row-100p mb20'>
        <button type="button" class="button success-button">
            <i class="pi pi-check"></i>
            <span>ENVIAR</span>
        </button>

        <button type="button" class="button success-button btn-rounded">
            <i class="pi pi-check"></i>
            <span>ENVIAR</span>
        </button>
    </div>    
</div>